$navlink-color: #343142;
$searchColor: #bcbcbc;
$mainColor: #1eae96;
$paragraph_color: #797979;
$btnColor: #1eae96;
$btnText: #fefefe;
$btnHoverColor: #343142;
$takstitle_color: #282935;
$pricingColor: #eceeef;