$navlink-color: #343142;
$searchColor: #bcbcbc;
$mainColor: #1eae96;
$paragraph_color: #797979;
$btnColor: #1eae96;
$btnText: #fefefe;
$btnHoverColor: #343142;
$exploreBackground-color: #f8f8f8;
$carouselCard-bgColor: #fefefe;
$takstitle_color: #282935;
$pricingColor: #eceeef;
$videosection-color: #282935;