*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 90%;
    margin: auto;
}
.btn{   
    text-decoration: none;
    color: $btnText;
    background-color: $btnColor; 
    padding: 15px 30px;
    margin-top: 30px;    
    border-radius: 5px; 
    &:hover{
        background-color: $btnHoverColor;
    }  
}
.section-title{
    font-size: 28px;
    color: $mainColor;
    font-weight: 400;
    text-align: center;
}