// intestazione e navigazione
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo{
    margin-left: 40px;
    height: 30px;
    img{
        height: 100%;
    }
}
// sezione navigazione
.main-nav{       
    ul{
        list-style: none;
        li{
            display: inline-block;            
            margin-right: 30px;
        }
        a{
            text-decoration: none;
            color: $navlink-color;
            font-size: 20px;
            vertical-align: middle;
        }
        i{
            margin-left: 5px;
            vertical-align: middle;
        }
    }
}
// sezione ricerca
.search{
    display: flex;
    .language{
        margin-right: 40px;
        img{
            vertical-align: middle;
        }
        .lang-selected{
            vertical-align: middle;
            text-transform: uppercase;
            margin: 0 5px;
        }
        i{
            vertical-align: middle;
        }
    }
    .log-in{
        margin-right: 40px;
        font-size: 22px;
    }
    .search-bar{
        margin-right: 40px;
        input{
            border: none;
            vertical-align: middle;  
            color: $searchColor;        
        }
        i{
            vertical-align: middle;
        }
    }
}
// header bottom con hero
.header-bottom{     
    width: 90%;
    margin: auto;    
    background-image: url('../img/home-business-hero-global-image.png');        
    background-repeat: no-repeat;
    background-position: right;
    .hero{
        width: 100%;        
        display: flex;
        justify-content: space-between;  
        padding: 50px;      
        .hero-description{
            width: 45%;
            padding: 20px;
            margin-right: 40px;
            align-self: center;
            h3{
                font-size: 25px;
                color: $mainColor;
            }
            h1{
                text-transform: uppercase;
                font-size: 46px;   
                margin: 25px 0;        
            }
            p{
                font-size: 20px;
                color: $paragraph_color;
                margin-bottom: 35px;
            }            
        }
        .hero-img{
            width: 55%;
            text-align: right;
        }                 
    }
    
}