// prima sezione dream
.dream-section{   
    padding: 40px;
    .dream-description{
        width: 50%;
        margin: 25px auto;
        text-align: center;
        p{
            font-size: 30px;
            line-height: 1.5;
            font-weight: 600;
        }        
    }
    .dream-tasks{
        display: flex;        
        flex-wrap: wrap;
        width: 60%;        
        margin: 40px auto;
        .task{
            width: calc((100% / 3) - 20px);
            display: flex;
            margin-right: 20px;
            .icon{               
                i{
                    color: $takstitle_color;
                    font-size: 25px;
                }
                .ml{
                    margin-left: -10px;
                }
            }             
            .task-description{
                h3{                    
                    color: $takstitle_color;
                    margin-left: 20px;
                }
                p{
                    font-size: 15px;
                    margin-top: 15px;
                    margin-left: 20px;
                    color: $paragraph_color;
                    line-height: 1.5;
                }
            }            
        }        
    }
    .tasks-buttons{
        display: flex;
        justify-content: center;        
        margin-top: 60px;
    }
}
// seconda sezione explore maxcoach
.explore-section-bgcolor{
    background-color: $exploreBackground-color;
    .explore-section{    
        padding: 50px;
        .main-section-title{
            text-align: center;
            font-size: 40px;
            margin-top: 20px;
        }
        .explore-carousel{
            width: 80%;
            margin: 40px auto;
            display: flex;
            padding: 15px;
            .carousel-card{
                width: calc((100% / 3) - 20px);
                height: 500px;  
                text-align: center;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                background-color: $carouselCard-bgColor;
                margin-right: 20px;
                border-radius: 5px;
                overflow: hidden;
                cursor: pointer;                
                img{                    
                    width: 100%;
                    transition: 1s all;      
                }
                h3{
                    margin: 20px 0;
                }
                p{
                    margin: 30px 0;
                    padding: 8px;
                    line-height: 2;
                    color: $paragraph_color;
                }
                .wht-btn:hover{
                    color: $btnText;
                    background-color: $secondaryColor;
                }
                i{
                    vertical-align: middle;
                    margin-left: 5px;
                    font-size: 20px;
                }        
                &:hover img{
                    transform: scale(1.1);
                }
            }
        }
        .explore-circles{
            text-align: center;
            font-size: 14px;
            i:not(:last-child){
                margin-right: 10px;
            }
        }
    }
}
//terza sezione prices
.pricing-section{
    padding: 50px;
    .main-section-title{
        text-align: center;
        font-size: 40px;
        margin-top: 20px;
    }
    .pricing-courses{
        margin: 40px auto;
        display: flex;
        padding: 15px;        
        .pricing-card{
            width: calc((100% / 4) - 20px);
            height: 400px;
            margin-right: 20px;
            padding: 25px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-size: cover;
            position: relative;
            overflow: hidden;
            .overlay{
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 43%, #000 100%);
            }                        
            .course-price{
                position: absolute;
                top: 73%;
                left: 2%;
                padding: 10px;
                color: $pricingColor;
                .price-section{
                    span{
                        font-weight: 700;
                        color: $secondaryColor;
                        margin-bottom: 10px;
                    }
                    .price{
                        font-size: 22px;
                    }
                    h3{
                        margin-top: 6px;                        
                    }
                }
                .course-desc{
                    visibility: hidden;
                    display: flex;
                    flex-wrap: wrap;                 
                    position: absolute;
                    top: 100%;                                                     
                    margin-top: 10px;                    
                    font-size: 15px;
                    .lessons{
                        margin-right: 15px;
                    }
                    .description{                        
                        margin-top: 15px;
                    }     
                }
            } 
            &:hover{
                cursor: pointer;                          
            }
            &:hover .course-price{
                transform: translateY(-72%) translateY(-40px);                
            }
            &:hover .course-desc{
                visibility: visible;
            }           
        }
        .card-one{
            background-image: url('../img/course-02-443x600.jpg');                                 
        }
        .card-two{
            background-image: url('../img/stock-full-hd-03-443x600.jpg');
        }
        .card-three{
            background-image: url('../img/stock-full-hd-04-443x600.jpg');
        }
        .card-four{
            background-image: url('../img/stock-full-hd-06-443x600.jpg');
        }        
    }
    .pricing-bottom{
        width: 35%;
        margin: auto;
        text-align: center;
        p{
            color: $paragraph_color;
            a{
                color: $takstitle_color;
                vertical-align: middle;
                text-decoration: none;
                border-bottom: 1px solid $searchColor;
                i{
                    vertical-align: middle;
                }
            }
        }
    }
}
//quarta sezione video
.video-section{
    background-color: $videosection-color;
    background-image: url('../img/background-map-dots-top-right-transparent.png');
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    .video{
        width: 50%;
        padding: 20px;
        overflow: hidden;
        .video-preview{
            width: 90%;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            img{
                width: 100%;
                transition: 1s all;
            }
            .youtube-icon{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &:hover img{
            transform: scale(1.1);
        }
    }
    .video-description{
        width: 50%;
        h2{
            color: #fff;
            font-size: 70px;
        }
        .faqs{
            margin: 20px 0;
            padding: 15px;
            border-bottom: 1px solid #fff;
            .opened{
                color: $secondaryColor;
                font-size: 30px;
                margin-right: 15px;
            }
            .active-title{
                color: $secondaryColor;
                display: inline-block;
                font-size: 35px;
            }
            p{
                padding: 20px;
                color: #fff;
                margin-left: 25px;
                line-height: 1.8;
                font-size: 20px;
            }
            i{
                font-size: 30px;
                color: #fff;
                margin-right: 15px;
            }
            h3{
                display: inline-block;
                font-size: 35px;
                color: #fff;
            }
        }
    }
}
// quinta sezione events
.events{
    width: 90%;
    margin: auto;   
    padding: 50px;    
    .main-section-title{
        text-align: center;
        font-size: 50px;
        margin-top: 20px;
    }
    .events-box{                   
        margin: auto;
        display: flex;
        flex-wrap: wrap;        
        padding: 40px;
        .left{
            width: 50%;
            .event-box{        
                height: 150px;     
                padding: 15px;
                background-color: $pricingColor;
                margin: 20px 20px;
                border-radius: 5px;
                .left-box{
                    float: left;
                    width: 65%;                    
                    .city{
                        display: flex;
                        i{
                            color: $paragraph_color;
                            margin-right: 15px;
                        }
                        p{
                            color: $paragraph_color;
                        }
                    }
                    .about{
                        display: flex;
                        justify-self: center;
                        align-self: center;
                        h3{
                            font-size: 20px;
                            margin-top: 15px;
                        }                
                    }
                } 
                &:hover{
                    cursor: pointer;
                    border-left: 2px solid $secondaryColor;
                }
                &:hover .btn{
                    background-color: $btnHoverColor;
                }           
                .right-box{
                    float: right;
                    width: 35%;
                    .date{
                        display: flex;                
                        justify-content: center;
                        text-align: center;                    
                        margin-bottom: 15px;                    
                        .day-number{
                            font-size: 48px;
                            color: $secondaryColor;
                        }
                        .month{
                            font-size: 22px;
                        }
                    }
                    .tickets-button{                       
                       text-align: center;
                       margin-right: 15px;
                       .btn{
                           padding: 8px 20px;
                       }
                    }
                }                
            }

        }
        .right{
            width: 50%;
            .event-box{       
                height: 150px;     
                padding: 15px;
                background-color: $pricingColor;
                margin: 20px 20px;
                border-radius: 5px;
                .left-box{
                    float: left;
                    width: 65%;  
                    .city{
                        display: flex;
                        i{
                            color: $paragraph_color;
                            margin-right: 15px;
                        }
                        p{
                            color: $paragraph_color;
                        }
                    }
                    .about{
                        display: flex;
                        justify-self: center;
                        align-self: center;
                        h3{
                            font-size: 20px;
                            margin-top: 15px;
                        }                
                    }
                } 
                &:hover{
                    cursor: pointer;
                    border-left: 2px solid $secondaryColor;
                }
                &:hover .btn{
                    background-color: $btnHoverColor;
                }           
                .right-box{
                    float: right;
                    width: 35%;                    
                    .date{
                        display: flex;                
                        justify-content: center;
                        text-align: center;                    
                        margin-bottom: 15px;                    
                        .day-number{
                            font-size: 48px;
                            color: $secondaryColor;
                        }
                        .month{
                            font-size: 22px;
                        }
                    }
                    .tickets-button{                       
                       text-align: center;
                       margin-right: 15px;
                       .btn{
                           padding: 8px 20px;
                       }
                    }
                }                
            }
        }
    }
    .events-bottom{
        width: 35%;
        margin: auto;
        text-align: center;
        p{
            color: $paragraph_color;
            a{
                text-decoration: none;
                color: $secondaryColor;
                margin-left: 5px;
                border-bottom: 1px solid $searchColor;
            }
        }
    }
    
}
// sesta sezione love for maxcoach
.maxcoach-love{
    width: 100%;    
    background-color: $pricingColor;
    position: relative;
    .curva{
        position: absolute;
        right: 0;
        bottom: 99%;
        z-index: -10;
        width: 60%;
        .curva-img{
            transform: rotate(90deg);
            width: 100%;     
            fill: $pricingColor;
        }       
    }
    .main-section-title{
        text-align: center;
        margin-top: 30px;
        font-size: 48px;
    }
    .review{
        width: 90%;
        height: 500px;
        margin: 25px auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .carousel{
            width: 100%;
            .carousel-cell{
                display: flex;
                width: calc((100% / 3) - 30px);                   
                margin-right: 10px;                
                border-radius: 5px;
                counter-increment: carousel-cell;
                .person-review{                             
                    background-color: $pricingColor;
                    margin: 0 15px;
                    padding: 15px;            
                    h4{
                        font-size: 20px;
                        color: $takstitle_color;     
                        margin-bottom: 30px;
                        line-height: 1.5;  
                    }
                    p{
                        color: $paragraph_color;
                        line-height: 1.5;                
                    }
                    .person-avatar{
                        height: 100px;                
                        display: flex;
                        align-items: center;
                        margin-top: 30px;
                        padding: 15px;
                        img{
                            height: 70px;
                            border-radius: 100%;
                        }
                        .person-description{
                            margin-left: 20px;
                            .person-name{
                                font-size: 16px ;
                                text-transform: uppercase;
                                color: $navlink-color;
                                margin: 0;
                            }
                            .job{
                                color: $paragraph_color;
        
                            }
                        }
                    }   
                }                 
            }
            .carousel-cell:before {
                display: block;
                text-align: center;
                content: counter(carousel-cell);
                line-height: 200px;
                font-size: 80px;
                color: white;
              }
        }
        .carousel button{
            display: none;
        }            
    }
    
}
// settima sezione newsletter sub
.newsletter{
    background-image: url('..img/maxcoach-shape-02.png');
    background-position: right;    
    padding: 30px;
    margin-bottom: 50px;
    .newsletter-title{
        text-align: center;
        .title{
            font-size: 48px;
            display: inline-block;
            margin-right: 10px;
        }
        .title-completion{
            color: $secondaryColor;
            font-size: 48px;
        }
    }
    .newsletter-par{
        width: 35%;
        margin: auto;
        margin-top: 40px;
        text-align: center;
        color: $paragraph_color;
        font-size: 18px;
        line-height: 1.5;        
    }
    .input-bar{
        margin-top: 40px;
        text-align: center;
        input{
            width: 30%;
            border: none;
            font-size: 18px;
            padding: 15px 30px;
            &:focus{
                outline: none;
            }
        }
    }
}