.dream-section{   
    padding: 40px;
    .dream-description{
        width: 50%;
        margin: 25px auto;
        text-align: center;
        p{
            font-size: 30px;
            line-height: 1.5;
            font-weight: 600;
        }        
    }
    .dream-tasks{
        display: flex;        
        flex-wrap: wrap;
        width: 60%;        
        margin: 40px auto;
        .task{
            width: calc((100% / 3) - 15px);
            margin-right: 20px;
            h3{
                color: $takstitle_color;
            }
            p{
                font-size: 15px;
                margin-top: 15px;
                color: $paragraph_color;
                line-height: 1.5;
            }
        }        
    }
    .tasks-buttons{
        display: flex;
        justify-content: center;        
    }
}
.explore-section{
    .carousel-title{
        text-align: center;
        font-size: 40px;
        margin-top: 20px;
    }
    .explore-carousel{
        width: 80%;
        margin: 30px auto;
        display: flex;
        .carousel-card{
            width: calc(100% / 3);
            height: 450px;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-right: 15px;
            border-radius: 5px;
            overflow: hidden;
            img{
                width: 100%;
            }
            h3{
                margin: 20px 0;
            }
            p{
                margin: 20px 0;
            }        
        }
    }
}